<div>
  <h1>Welcome to {{title | uppercase}}</h1>
</div>
<div>
  <table class="table"  style="align-items: center;">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gpa</th>
      <th>Actiom</th>
    </tr>
    <tr *ngFor="let stud of students">
      <td>{{stud.id}}</td>
      <td>{{stud.name}}</td>
      <td>{{stud.gpa}}</td>
      <td>
      <a [routerLink]="['/find-student', stud.id]">Details
      </a>
      <a [routerLink]="['/remove-student', stud.id]">Delete
      </a>
    
    </td>
    </tr>
  </table>
</div>

